{template 'common/header'}
    <p>
        {php echo \yii\helpers\Html::a('添加公众号', wurl('account/wechat/create'), ['class' => 'btn btn-success']) }
    </p>
    {php echo \yii\grid\GridView::widget([
        'dataProvider' => $dataProvider,
        'filterModel' => $searchModel,
        'columns' => [
            [
                'attribute' => 'acid',
                'filter' => false,
                'options' => [
                    'width' => 60
                ]
            ],
            [
                'attribute' => 'uniacid',
                'filter' => false,
                'options' => [
                    'width' => 60
                ]
            ],
            [
                'attribute' => 'name',
            ],
            [
                'attribute' => 'level',
                'filter' => \weikit\models\WechatAccount::$levels,
                'value' => function($model) {
                    return \weikit\models\WechatAccount::$levels[$model->level];
                },
                'options' => [
                    'width' => 240
                ]
            ],
            //'token',
            //'encodingaeskey',
            //'account',
            //'original',
            //'signature',
            //'country',
            //'province',
            //'city',
            //'username',
            //'password',
            //'lastupdate',
            //'key',
            //'secret',
            //'styleid',
            //'subscribeurl',
            //'auth_refresh_token',

            ['class' => 'yii\grid\ActionColumn'],
        ],
    ]); }
{template 'common/footer'}