
    {php $form = \yii\bootstrap\ActiveForm::begin([
        'layout' => 'horizontal',
    ]); }

    {php echo $form->field($model, 'name')->textInput(['maxlength' => true])}

    {php echo $form->field($model, 'account')->textInput(['maxlength' => true])}

    {php echo $form->field($model, 'original')->textInput(['maxlength' => true])}

    {php echo $form->field($model, 'level')->dropdownList(weikit\models\WechatAccount::$levels)}

    {php echo $form->field($model, 'key')->textInput(['maxlength' => true])}

    {php echo $form->field($model, 'secret')->textInput(['maxlength' => true])}

    <div class="form-group ">
        <div class="col-sm-offset-3 col-sm-9">
            {php echo \yii\helpers\Html::submitButton('Save', ['class' => 'btn btn-success']) }
        </div>
    </div>

    {php \yii\bootstrap\ActiveForm::end(); }


