{template 'common/header'}
    <p>
        {php echo yii\helpers\Html::a('Create Module', wurl('account/create'), ['class' => 'btn btn-success']) }
    </p>
    {php echo yii\grid\GridView::widget([
        'dataProvider' => $dataProvider,
        'filterModel' => $searchModel,
        'options' => [
            'class' => 'panel panel-default grid-view'
        ],
        'summaryOptions' => [
            'class' => 'panel-heading summary'
        ],
        'columns' => [
            ['class' => 'yii\grid\SerialColumn'],

            'acid',
            'uniacid',
            'hash',
            'type',
            'isconnect',
            //'isdeleted',
            //'endtime:datetime',

            ['class' => 'yii\grid\ActionColumn'],
        ],
    ]); }
{template 'common/footer'}