{template 'common/header'}

    <?php // echo $this->render('_search', ['model' => $searchModel]); ?>

    <p>
        {php echo yii\helpers\Html::a('Create Module', ['create'], ['class' => 'btn btn-success']) }
    </p>

    <div class="mb20">
        {php echo yii\bootstrap\Nav::widget([
            'options' => [
                'class' => 'nav-underline',
            ],
            'items' => [
                'wechat' => [
                    'label' => '已安装',
                    'url' => ['/web/module/index'],
                ],
                'wxapp' => [
                    'label' => '已停用',
                    'url' => ['/web/module/disabled' ],
                ],
                'aliapp' => [
                    'label' => '可安装',
                    'url' => ['/web/module/inactive'],
                ],
            ],
        ])}
    </div>

    {php echo yii\grid\GridView::widget([
        'dataProvider' => $dataProvider,
        'filterModel' => $searchModel,
        'columns' => [

            //'mid',
            'name',
            'type',
            'title',
            'version',
            //'ability',
            //'description',
            //'author',
            //'url:url',
            //'settings',
            //'subscribes',
            //'handles',
            //'isrulefields',
            //'issystem',
            //'target',
            //'iscard',
            //'permissions',
            //'title_initial',
            //'wxapp_support',
            //'welcome_support',
            //'oauth_type',
            //'webapp_support',
            //'phoneapp_support',
            //'account_support',
            //'xzapp_support',

            ['class' => 'yii\grid\ActionColumn'],
        ],
    ]); }
{template 'common/footer'}
