{template 'common/header-base'}
{php $__menu = get_option('wk_web_menu', [
    'wechat' => [
        'label' => '微信公众号',
        'url' => ['/web/account/wechat/index'],
    ],
    'wxapp' => [
        'label' => '微信小程序',
        'url' => ['/web/account/wxapp'],
    ],
    'aliapp' => [
        'label' => '支付宝小程序',
        'url' => ['/web/account/aliapp'],
        'items' => [
            'aliapp' => [
                'label' => '支付宝小程序1',
                'url' => ['/web/account/aliapp'],
            ],
        ]
    ],
]);}
<div data-skin="default" class="skin-default">
    <div class="main">
        <div class="container-fluid">
            <nav class="navbar navbar-default" style="margin-top: 15px;">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{php echo Yii::$app->request->baseUrl}">{php echo Yii::$app->name}</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        {php echo \yii\bootstrap\Nav::widget([
                            'options' => ['class' => 'navbar-nav'],
                            'items' => array_map(function($data) {
                                unset($data['items']);
                                return $data;
                            }, $__menu),
                        ]);}
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">系统</a></li>
                            <li><a href="/web/index.php/gii">Gii</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="page-content">
                {php $__currentMenuId = explode('/', $view->context->id)[0]}
                {if !empty($__menu[$__currentMenuId]['items'])}
                    <div class="mb20">
                        {php echo \yii\bootstrap\Nav::widget([
                            'options' => [
                                'class' => 'nav-underline',
                            ],
                            'items' => $__menu[$__currentMenuId]['items']
                        ])}
                    </div>
                {/if}

                <div class="row">
                {if !empty($menu) || (isset($menuKey) && $menu = \Yii::createObject('weikit\services\MenuService')->getMenuByKey($menuKey)) }
                    <div class="col-md-2">
                        {php echo weikit\widgets\NavMenu::widget([
                            'items' => $menu
                        ])}
                    </div>
                    <div class="col-md-10">
                {else}
                    <div class="col-md-12">
                {/if}