
<!DOCTYPE html>
<html {php language_attributes();}>
<head>
	<meta http-equiv="Content-Type" content="{php bloginfo('html_type');}; charset={php echo get_option('blog_charset');}" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>{php if(isset($title)) $_W['page']['title'] = $title}{if !empty($_W['page']['title'])}{$_W['page']['title']}{/if}</title>
	<script type="text/javascript">
	if(navigator.appName == 'Microsoft Internet Explorer'){
		if(navigator.userAgent.indexOf("MSIE 5.0")>0 || navigator.userAgent.indexOf("MSIE 6.0")>0 || navigator.userAgent.indexOf("MSIE 7.0")>0) {
			alert('您使用的 IE 浏览器版本过低, 推荐使用 Chrome 浏览器或 IE8 及以上版本浏览器.');
		}
	}
	// if(!parent.document.getElementById('adminmenu') && !parent.parent.document.getElementById('adminmenu')) {
	// 	var url = new URL(location.href);
	// 	url.searchParams.append('is_frame', 1);
	// 	location.href = url.toString();
	// }

	window.sysinfo = {
		{if !empty($_W['uniacid'])}'uniacid': '{$_W['uniacid']}',{/if}
		{if !empty($_W['acid'])}'acid': '{$_W['acid']}',{/if}
		{if !empty($_W['openid'])}'openid': '{$_W['openid']}',{/if}
		{if !empty($_W['uid'])}'uid': '{$_W['uid']}',{/if}
		'isfounder': {if !empty($_W['isfounder'])}1{else}0{/if},
		'family': '{IMS_FAMILY}',
		'siteroot': '{$_W['siteroot']}',
		'siteurl': '{$_W['siteurl']}',
		'attachurl': '{$_W['attachurl']}',
		'attachurl_local': '{$_W['attachurl_local']}',
		'attachurl_remote': '{$_W['attachurl_remote']}',
		'module' : {'url' : '{if defined('MODULE_URL')}{MODULE_URL}{/if}', 'name' : '{if defined('IN_MODULE')}{IN_MODULE}{/if}'},
		'cookie' : {'pre': '{$_W['config']['cookie']['pre']}'},
		'account' : {php echo json_encode($_W['account'])},
		'server' : {'php' : '{php echo phpversion()}'},
	};
	</script>
	<script>var require = { urlArgs: 'v=20190101' };</script>

{php wp_dequeue_style( 'admin-bar' );}
{php wp_dequeue_script( 'admin-bar' );}

{php wp_enqueue_style('bootstrap', site_url('web/resource/css/bootstrap.min.css'))}
{php wp_enqueue_style('wk-common', site_url('web/resource/css/common.css'))}

{php wp_enqueue_script('iframe-resizer', site_url('web/resource/components/iframe-resizer/iframeResizer.contentWindow.min.js'))}
{php wp_enqueue_script('bootstrap', site_url('web/resource/js/lib/bootstrap.min.js'), [ 'jquery' ])}
{php wp_enqueue_script('wk-util', site_url('web/resource/js/app/util.js'), [ 'jquery' ])}
{php wp_enqueue_script('wk-common', site_url('web/resource/js/app/common.js'), [ 'jquery' ])}
{php wp_enqueue_script('require', site_url('web/resource/js/require.js'), [ 'jquery' ])}

{php do_action( 'admin_print_styles-' . $hook_suffix );}
{php do_action( 'admin_print_styles' );}
{php do_action( 'admin_print_scripts-' . $hook_suffix );}
{php do_action( 'admin_print_scripts' );}
{php do_action( 'admin_head-' . $hook_suffix );}
{php do_action( 'admin_head' );}

</head>
<body>
	<div class="loader" style="display:none">
		<div class="la-ball-clip-rotate">
			<div></div>
		</div>
	</div>