{template 'common/header'}

    <p>
        {php echo \yii\helpers\Html::a('Create Module', ['create'], ['class' => 'btn btn-success']) }
    </p>

    {template 'module/_nav'}

    {php echo \yii\grid\GridView::widget([
        'dataProvider' => $dataProvider,
        'columns' => [
            'title',
            'name',
            'version',

            [
                'class' => 'yii\grid\ActionColumn',
                'template' => '{install}',
                'buttons' => [
                    'install' => function ($url, $model, $key) {
                        return \yii\helpers\Html::a('安装模块', wurl('module/activate', ['name' => $model['name']]));
                    }
                ]

            ],
        ],
    ]); }
{template 'common/footer'}
